<%= form_with model: budget_category, url: budget_categories_path do |form| %>
  <div>
    <%= form.text_field :name, placeholder: :name %>
  </div>

  <div>
    <%= form.text_field :icon, placeholder: :icon_link %>
  </div>

  <% if budget_category.errors.any? %>
    <div style="color: red" id="error_explanation">
      <h2><%= pluralize(budget_category.errors.count, "error") %> prohibited this budget_category from being saved:</h2>

      <ul>
        <% budget_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
